In [3]:
import pandas as pd
df = pd.read_csv("..\data\\basketballCourts.csv")

In [5]:
df['percentagePeople'] = df['latitude']
df

       latitude   longitude  percentagePeople
0      1.452990  103.821917          1.452990
1      1.416800  103.833954          1.416800
2      1.308944  103.777436          1.308944
3      1.320917  103.764852          1.320917
4      1.371846  103.841526          1.371846
...         ...         ...               ...
41218  1.285251  103.823715          1.285251
41219  1.390492  103.746489          1.390492
41220  1.376696  103.753675          1.376696
41221  1.322235  103.903511          1.322235
41222  1.357446  103.747970          1.357446

[41223 rows x 3 columns]